$badge-background-color: #677C8C;
$base-main-color: #FFFFFF;
$light-gray-color: #CED8DB;
$dark-gray-color: #576977;
$list-background-color: #5F7E8C;
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
h3 {
  color: #ccc;
}
.need-hide {
  display: none;
}
.img-preview {
  max-width: 200px;
  max-height: 200px;
}
.tbl-preview{
  // border-collapse: collapse;
  // overflow: hidden;
  position: relative;
  margin: 20px auto;
  td{
    border: 1px solid #ccc;
    text-align: center;
    color: gray;
  }
}
.show-files {
  text-align: center;
}
.button-upload {
  margin: 60px auto;
  text-align: center;
}

