$badge-background-color: #677C8C;
$base-main-color: #FFFFFF;
$light-gray-color: #CED8DB;
$dark-gray-color: #576977;
$list-background-color: #5F7E8C;
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.post-list {
  height: 100%;
  width: 30%;
  background-color: $list-background-color;
  padding: 20px;
  float: left;
}
.main-content {
  height: 100%;
  width: 60%;
  padding: 20px;
  background-color: $light-gray-color;
  float: left;
}
.list-area {
  margin-top: 15px;
}
.title-list {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: left;
  color: $light-gray-color;
}
.clear-all {
  font-weight: 400;
  font-size: 1rem;
  color: $base-main-color;
  float: right;
}
.dept-row {
  font-weight: 400;
  font-size: 1.2rem;
  color: $base-main-color;
  margin-left: 1.4rem;
}
.dept-row-number {
  font-weight: 400;
  font-size: 1.2rem;
  color: $base-main-color;
  float: right;
}
.xat-badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  color: $base-main-color;
  background-color: $dark-gray-color;
  border-radius: .8rem;
}
.xat-checkbox {
  display: none;
}
.xat-checkbox + label {
  margin-bottom: -2px;
  display: inline-block;
  padding: 6px;
  border: 2px solid $light-gray-color;
  border-radius: 4px;
  background-color: $list-background-color;;
}
.xat-checkbox:checked + label {
  background-color: $light-gray-color;
}
.post-row {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  color: $light-gray-color;
  padding-bottom: 2px;
}
.post-row-number {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  color: $light-gray-color;
  padding-bottom: 2px;
  float: right;
}
li {
  list-style: none;
}
button {
  background-color: $list-background-color;
}
a {
  text-decoration: none;
}